
@import "tailwindcss";


input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  caret-color: #e5e7eb;
  -webkit-text-fill-color: #e5e7eb !important;
  transition: background-color 5000s ease-in-out 0s;
}

.scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: rgba(148, 163, 184, 0.3) transparent;
}

.scrollbar-gutter-both {
  scrollbar-gutter: stable both-edges;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background: rgba(148, 163, 184, 0.3);
  border-radius: 9999px;
  transition: background 0.2s ease;
}

.scrollbar-custom:hover::-webkit-scrollbar-thumb {
  background: rgba(148, 163, 184, 0.5);
}


.player-slider {
  -webkit-appearance: none;
  appearance: none;
}

.player-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 14px;
  width: 14px;
  border-radius: 9999px;
  background: #818cf8;
  cursor: pointer;
  border: none;
}

.player-slider::-moz-range-thumb {
  height: 14px;
  width: 14px;
  border-radius: 9999px;
  background: #818cf8;
  cursor: pointer;
  border: none;
}

.player-slider::-webkit-slider-runnable-track {
  height: 6px;
  border-radius: 9999px;
}

.player-slider::-moz-range-track {
  height: 6px;
  border-radius: 9999px;
}