
@import "tailwindcss";


input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  caret-color: #e5e7eb;
  -webkit-text-fill-color: #e5e7eb !important;
  transition: background-color 5000s ease-in-out 0s;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: rgba(148, 163, 184, 0.3); /* subtle */
  border-radius: 9999px;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background-color: rgba(148, 163, 184, 0.6);
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: rgba(148, 163, 184, 0.3);
}

.scrollbar-custom:hover::-webkit-scrollbar-thumb {
  background-color: rgba(148, 163, 184, 0.5);
}